body {
	background-image:url("images/vintageBG.jpg");
	background-size: cover;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   margin-top:100px;
}
.navbar .navbar-nav .navbar-brand {

    display: inline-block;
    float: none;
}

.logo{
	height:200px;
	width:300px;
}

.navbar ul {
  border-bottom: solid;
}
.centered{
  text-align: center;
}